.App {
  text-align: center;
  background-color: lightgrey;
}

nav {
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  text-align: center;
}

.card {
  margin: 25px;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}
